<h2>Editing Donation</h2>

<%= render 'form' %>
<br>
<%= link_to 'Show', @donation, :class => "btn btn-raised btn-info" %> |
<%= link_to 'Back', donations_path, :class => "btn btn-raised btn-warning" %>